@font-face {
	font-family: 'Fira Code';
	src: url('../../styles/fonts/fira/woff2/FiraCode-Light.woff2')
			format('woff2'),
		url('../../styles/fonts/fira/woff/FiraCode-Light.woff')
			format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../../styles/fonts/fira/woff2/FiraCode-Regular.woff2')
			format('woff2'),
		url('../../styles/fonts/fira/woff/FiraCode-Regular.woff')
			format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../../styles/fonts/fira/woff2/FiraCode-Medium.woff2')
			format('woff2'),
		url('../../styles/fonts/fira/woff/FiraCode-Medium.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../../styles/fonts/fira/woff2/FiraCode-SemiBold.woff2')
			format('woff2'),
		url('../../styles/fonts/fira/woff/FiraCode-SemiBold.woff')
			format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../../styles/fonts/fira/woff2/FiraCode-Bold.woff2')
			format('woff2'),
		url('../../styles/fonts/fira/woff/FiraCode-Bold.woff')
			format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code VF';
	src: url('../../styles/fonts/fira/woff2/FiraCode-VF.woff2')
			format('woff2-variations'),
		url('../../styles/fonts/fira/woff/FiraCode-VF.woff')
			format('woff-variations');
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}

.post-content .token {
	/* @apply text-primary; */
	background: red;
}

/* .post-content code[class*='language-'],
.post-content pre[class*='language-'] {
	color: #d4d4d4;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	font: 1.1rem 'Fira Code';
	font-feature-settings: 'calt' 1;
	text-rendering: optimizeLegibility;
	
}

.post-content pre[class*='language-']::-moz-selection,
.post-content pre[class*='language-'] ::-moz-selection,
.post-content code[class*='language-']::-moz-selection,
.post-content code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #1e1e1e;
}

.post-content pre[class*='language-']::selection,
.post-content pre[class*='language-'] ::selection,
.post-content code[class*='language-']::selection,
.post-content code[class*='language-'] ::selection {
	text-shadow: none;
	background: #1e1e1e;
}

@media print {
	.post-content code[class*='language-'],
	.post-content pre[class*='language-'] {
		text-shadow: none;
	}
}

.post-content pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.post-content :not(pre) > code[class*='language-'],
.post-content pre[class*='language-'] {
	color: white;
	background: #1e1e1e;
}

.post-content :not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.post-content .token.prolog {
	color: #000080;
}

.post-content .token.comment {
	color: #6a9955;
}

.post-content .token.punctuation {
	color: #6a9955;
}

.post-content .token.builtin {
	color: #4fc1ff;
}

.post-content .token.number {
	color: #b5cea8;
}

.post-content .token.variable {
	color: #b5cea8;
}

.post-content .token.inserted {
	color: #b5cea8;
}

.post-content .token.operator {
	color: #d4d4d4;
}

.post-content .token.constant {
	color: #646695;
}

.post-content .token.tag {
	color: #569cd6;
}

.post-content .token.changed {
	color: #569cd6;
}

.post-content .token.function {
	color: #569cd6;
}

.post-content .token.keyword {
	color: #569cd6;
}

.post-content .token.attr-name {
	color: #9cdcfe;
}

.post-content .token.property {
	color: #9cdcfe;
}

.post-content .token.deleted {
	color: #ce9178;
}

.post-content .token.string {
	color: #ce9178;
}

.post-content .token.regex {
	color: #d16969;
}

.post-content .token.char {
	color: #d16969;
}

.post-content .token.class-name {
	color: #4ec9b0;
}

.post-content .token.important,
.post-content .token.bold {
	font-weight: bold;
}

.post-content .token.italic {
	font-style: italic;
} */
